li,
p {
    color:burlywood;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    color:red;
    text-align: center;
}
.front {
    font-size: 35px;
    margin-left: 80px;
    color:aqua;
}
img{
    width: 300px;
    height: auto;
}
h4,
h3 {
    font-size: 35px;
    margin: 0;
}
h4 {
    color: lightcoral;

}
h3 {
    color: lightgreen;
}
* {
font-family: sans-serif;
}